body{
    margin:0;
    background-image:url("bg6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
}
p{
    font-weight: bolder;
    font-size:x-large;
    text-align: center;
}
ul li{
    border: 1px solid black;
    padding:10px;
    font-size: large;
    font-weight:bolder;
    transition: all 2s;
    margin-bottom:20px;
    margin-right: 20px;
}
ul li:hover{
    background-color: lightblue;
    cursor:pointer;
}
